:root {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  position:absolute;
}

header{
  font-size: 2rem;
  margin-bottom: 1rem;
}

#mobileSwipe {
  padding: 1.25rem;
  padding-top:.5rem;
  padding-bottom:.5rem;
  background: var(--background);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

#backButton{
  display:none;
}

#nextButton{
  display:none;
}

#mobileSwipe{
  display:block;
}